* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baskervville', serif;
  font-weight: 600;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  
}
#email, #password, #btn-login {
  padding: 8px;
  margin: 7px;
  border-radius: 10px;
  border: none;
}
#btn-login {
  margin-right: 30px;
  width: 100px;
}

.trybewarts-header-logo {
  width: 80px;
  margin-left: 30px;
}

#trybewarts-header-title {
  color: white;
  font-size: 50px;
}

main {
  display: flex;
  justify-content: center;
}

main #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin: 30px;
}

main #trybewarts-forms-logo {
  height: 500px;
}

#conteudo-centro {
  display: flex;
  justify-content: space-evenly;
}

#family {
  display: flex;
  flex-direction: column;
}

h3 {
  display: flex;
  justify-content: center;
  background-color: gray;
  align-self: flex-end;
}
