* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Baskervville, serif;
  font-weight: 600;
  color: rgb(49, 49, 49);
}

body {
  background-color: rgb(241, 241, 241);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
}

#email , #password , #btn-login {
  padding: 8px;
  margin: 7px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

#btn-login {
  background-color: rgb(130, 0, 182);
  color: white;
  margin-right: 30px;
  width: 100px;
}

#input-name , #input-lastname , #input-email , #house {
  border-radius: 8px;
  padding: 4px;
  border: none;
  margin: 4px;
  height: 40px;
  width: 230px;
  flex-grow: 1;
  font-size: 1.2rem;
}

#conteudo-inicio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

#house {
  width: 192px;
  background-color: white;
}

#submit-btn {
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: rgb(130, 0, 182);
  font-size: 20px;
  color: white;
  margin: 10px 0;
}

.textarea {
  margin-bottom: 5px;
  margin-top: 10px;
}

.trybewarts-header-logo {
  width: 80px;
  margin-left: 30px;
}

#trybewarts-header-title {
  color: white;
  font-size: 50px;
}

main {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: stretch;
}

main #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin: 20px;
  font-size: 1.2rem;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

main #trybewarts-forms-logo {
  height: 500px;
  display: flex;
  align-self: center;
}

#conteudo-centro {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  gap: 5px;
}

#label-content {
  margin-left: 40px;
  width: 450px;
}

#checkboxs-learn {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 40px;
}

#conteudo-aprendizado , #family {
  flex-grow: 1;
}

#avaliacao {
  display: flex;
  margin: 15px 0;

}

#avaliacao div {
  flex-grow: 1;
}

#family {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  display: flex;
  justify-content: center;
}

footer {
  height: 50px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avaluation {
  margin-left: 8px;
  margin-right: -4px;
}
