* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baskervville', serif;
  font-weight: 600;
}

body {
  background-color: rgb(241, 241, 241);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;  
}
#email, #password, #btn-login {
  padding: 8px;
  margin: 7px;
  border-radius: 10px;
  border: none;
}
#input-name, #input-lastname, #input-email, #house {
  border-radius: 4px;
  padding: 4px;
  border: none;
  margin: 4px;
  width: 230px;
}

#conteudo-inicio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

#house {
  width: 192px;
  background-color: white;
}

#btn-login {
  margin-right: 30px;
  width: 100px;
}

.trybewarts-header-logo {
  width: 80px;
  margin-left: 30px;
}

#trybewarts-header-title {
  color: white;
  font-size: 50px;
}

main {
  display: flex;
  justify-content: center;
  gap: 80px;
}

main #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

main #trybewarts-forms-logo {
  height: 500px;
}

#conteudo-centro {
  display: flex;
  justify-content: space-between;
}

#family {
  display: flex;
  flex-direction: column;
}

h3 {
  display: flex;
  justify-content: center;
  background-color: gray;
  align-self: flex-end;
}
